.logout-container {
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

.logout-button {
  width: 100%;
}

.p-dialog-footer {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row-reverse !important;
  box-shadow: none;
}
.btn-sim:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
