.dialog-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable-content {
  overflow-y: auto;
  max-height: auto;
  padding-right: 10px;
  margin-bottom: 1rem;
}

.footer-fixed {
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  background-color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.nota-servico-container {
  display: flex;
  flex-direction: column;
}

.nota-servico-tabs .p-tabview-nav {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}