.p-calendar .p-inputtext.p-focus {
    box-shadow: none !important;
    border-color: none !important;
    outline: none !important;
}

.p-calendar .p-inputtext.p-focus {
    box-shadow: none !important;
    border-color: none !important;
    outline: none !important;
}


.p-calendar .p-inputtext.p-focus,
.p-calendar.p-focus .p-inputtext,
.p-calendar.p-inputwrapper.p-focus input {
    box-shadow: none !important;
    border-color: var(--primary-color);
    outline: none !important;
}

.p-calendar .p-datepicker-trigger {
    background-color: transparent !important;
    border-color: var(--primary-color);
    color: var(--primary-color);;
}

.p-calendar .p-datepicker-trigger:focus {
    box-shadow: none !important;
    outline: none !important;
}

.calendar-footer-ok{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}
.calendar-buttons-DataPiker{
display: flex;
justify-content: space-between;
padding: 10px;
gap: 16px;

}
.btn-filter-calendar{
height: 20px;
font-size:9px ;
width: 120px;
}