.tree-error {
  border: 1px solid #FCA5A5 !important;
  box-shadow: none !important;  /* Remove o box-shadow */
}
.permissoes-tree .p-tree-container,
.permissoes-tree .p-treenode-children {
  margin: 0;
  list-style-type: none !important;
}

.permissoes-tree .p-tree-container {
  padding-left: 0 !important;
}

.permissoes-tree .p-tree-container .p-treenode,
.permissoes-tree .p-treenode-children .p-treenode {
  list-style-type: none !important;
}

.permissoes-tree .p-tree-container .p-treenode::marker,
.permissoes-tree .p-treenode-children .p-treenode::marker {
  content: '';
}

.permissoes-tree .p-tree-container .p-treenode .p-treenode-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6px;
  transition: box-shadow 0.2s;
  padding: 0.5rem;
  box-shadow: none !important;
}

.permissoes-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler,
.permissoes-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox {
  margin-right: 0;
  flex-shrink: 0;
}

.permissoes-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-label {
  display: inline-flex;
  align-items: center;
  line-height: 1.25rem;
}

.p-checkbox:not(.p-highlight) .p-checkbox-box {
  border-color: var(--unchecked-border-color); 
  background-color: var(--unchecked-background-color); 
}
