.p-inputtext {
    box-shadow: none !important;
}

.layout-dark .themable-input .p-inputtext {
    background-color: #293B51 !important;
    color: #E3E6E8 !important;
}

.layout-light .themable-input .p-inputtext {
    background-color: #FFFFFF !important;
    color: #495057 !important;
}

.remove-ltb-borders .p-inputtext {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
