.no-border-on-focus:focus {
    border-color:var(--primary-color);
    box-shadow: none;
}
.styled-on-focus:focus-within{
     border-color:var(--primary-color) !important;
}
.styled-on-hover:hover{
     border-color:var(--primary-color) !important;
}

.p-inputnumber-input .p-inputtext .p-component .p-filled{
border: none !important;
box-shadow: none !important;

}

.custom-input-number .p-inputnumber,
.custom-input-number .p-inputnumber .p-inputtext {
    border: none !important;
    box-shadow: none !important;
}